*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    color: #fff;
}




.navbar {
    background-color: black;
    
}

.navbar-brand {
    color: #fff;
    height: 110px;
    width: 130px;

}

.nav-link {
    color: #fff;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.hero-content {
    flex: 1;
    padding: 20px;
}

.carousel {
    flex: 1;
}

.footer{
    text-align: right;

}

.Admin-panel{
    padding: 30px;

}


/* styles for the restaurant cards: landing page */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 10px;
}

.card-img-top {
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.card-body {
    padding: 30px;
}

.card-title {
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .restaurant-section {
    /*background-color: #f2f2f2;*/
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .restaurant-info h1 {
    margin: 0;
  }
  
  .restaurant-image {
    border: 2px solid #ccc; /* grey frame */
    border-radius: 5px;
  }
  
  .restaurant-image .placeholder {
    width: 450px;
    height: 200px;
    background-color: #fff; /* white square */
  }
  
  .main {
    padding: 20px;
  }
  
  .menu-section {
    margin-top: 20px;
  }
  
  .menu-category {
    margin-bottom: 20px;
  }
  
  .menu-category h3 {
    margin-top: 0;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-item {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    border: 2px solid white; 
    padding: 10px; 
  }
  
  .menu-item .placeholder {
    width: 100px;
    height: 100px;
    background-color: #fff; /* white square */
  }
  
  .menu-item p {
    margin: 5px 0;
  }
  
