*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    color: #fff;
}




.navbar {
    background-color: black;
    
}

.navbar-brand {
    color: #fff;
    height: 110px;
    width: 130px;

}

.nav-link {
    color: #fff;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.hero-content {
    flex: 1;
    padding: 20px;
}

.carousel {
    flex: 1;
}